body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: lightgray;
    float:none;
}

page[size="A3"] {  
  width: 42cm;
  
  height: 29.7cm;
}
@media all {
	.break	{ display: none; }
}

@media print {
    .break { display: block; page-break-before: always; }
    }

    
.row-layout{
    display: flex;
    flex-direction: column;
    width: 42cm;
    height: 29.7cm;
    background-color: white;
}
.white-row{
    width: 100%;
    height: 5%;
    display: flex;
    background-color:white;
}

.empty-row{
    width: 100%;
    height: 5%;
    display: flex;
}

.row-one{
    width: 100%;
    height: 40%;
    background-color: red;
    display: flex;
    flex-direction: row;
}
.index{
    width:100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
.big-images{
    width: 100%;
    height: 100%;
    background: gainsboro;
    display: flex;
    flex-direction: row;
}

.big-image{
    height: 100%;
    width: 100%;
    margin: auto;    
    background-position: center; 
    background-size: cover;
    position: relative;
    
}

.photo-credits{
    background: rgba(255, 255, 255, 0.5);
    -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
    width: max-content;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
}

.photo-credits p{
    margin-block-end: 0;
    margin-block-start: 0;
    padding-left: 0.5cm;
    padding-block-end: 0.2em;
    padding-block-start: 0.2em;
    font-size: 0.6em;
    padding-right: 0.5cm;
}
.photo-credits a{
    text-decoration: unset;
    font-weight: bold;
    color:black;
}

.column-right{
    width:30%;
    height: 100%;
    background-color: steelblue;
    position: relative;
}
.footer-container{
    display:flex;
    flex-direction: column;
    width:30%;
    height: 70%;
}


.portfolio-index{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.portfolio-index .index-item{
    display: flex;
    flex: 1;
    align-items: center;
}
.portfolio-index p{
    z-index: 10;
    padding-left: 1.5em;
    font-weight: bold;
    font-size: 120%;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: whitesmoke;
    opacity: 0.5;
}

.column-left{
    width:70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
#header-gray-bar{
    background-color: dimgray;
}
.gray-bar{
    height: 100%;
    width: 30px;
    background-color: dimgray;
    flex-basis: auto;
    flex-shrink: 0;
}
.colored-bar{
    height: 100%;
    width:30px;
    background-color: steelblue;
    flex-basis: auto;
    flex-shrink: 0;
}

#clipped{
    position: absolute;
    left:30px;   
    height: 160%;   
    bottom: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0% 100%, 0 0, 50% 10px);
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0% 100%, 0 0, 50% 10px);
}
.index-description{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-right:5em;
    padding-left: 5em;
    line-height: 1.5em;
    background-color: whitesmoke;
    font-size: 150%;
}
.author-image{
    margin-block-end: 7em;
    margin-block-start: 3em;
    width: 7cm;
    height: 7cm;
    background-size:cover;
    background-position: bottom;
    background-color: white;
    background-image:url(img/IMG_20181029_142018.jpg);
    border-radius: 50%;
    -webkit-box-shadow: 0 10px 10px #777;
    -moz-box-shadow: 0 10px 10px #777;
    box-shadow: 0 10px 10px #777;
    border-width:5px;  
    border-style:solid;     
    border-color:whitesmoke;
}

.index-description p{
    margin-block-end: 0;
    margin-block-start: 0;
}

.row-two{
    background-color: whitesmoke;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    color: dimgray;
}

.row-two p{
    padding-left: 30px;
    padding-right: 30px;  
}

.row-two .column-left{
    text-align: justify;
    word-break: break-all;
}
.project-category{
    margin-block-end: 0;
    margin-block-start: 0;
    padding-left: 15px;
    width: 80px;
    height: 30px;
}
.no-border:not(:last-child){    
    border-bottom: 0.5px dashed whitesmoke;
}
.project-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: steelblue;
    margin:auto;
    padding: auto;
    
}
.row-two h1{
    padding-left: 40px;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
    padding-right:30px;
    font-size: 1.8em;
}
.row-two h2, h3{
    padding-left: 40px;
    padding-right: 40px;
    margin-block-end: 0em;
    margin-block-start: 0em;
}
.row-three{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    margin-right: 4em;
}
.small-images{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    page-break-after: always;
}

.small-image{
    height: 100%;
    width: 100%;
    margin: auto;    
    background-position: bottom; 
    background-size: cover;
}

.top-row{
    height: 70%;
    background-color: white;
    padding-left: auto;
    padding-right: 35px;
    padding-left: 25px;    
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: center;    
}
.top-row p{
    margin-block-end: 0;
    margin-block-start: 0;
    color:dimgray;
}
.project-author{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-top:8px;
    margin-bottom: 8px;  
    border-left: 1px solid lightgray;
    
}

.no-border{
    border:0;
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 0em;
}

#author{
    flex-basis: auto;
    flex-shrink: 0;
}

#firm{
    color: white;
    flex-basis: auto;
    flex-shrink: 0;
    border-left: 0;
    padding-left: 0;
}
#firm-location{
    color: white;
    flex-basis: auto;
    flex-shrink: 0;
    border-left: 0;
    padding-left: 0;
}

#category{
    color: white;
    flex-basis: auto;
    flex-shrink: 0;    
     border-left: 0;
     padding-left: 0;
}

#supervisor{
    color: white;
    flex-basis: auto;
    flex-shrink: 0;
     border-left: 0;
     padding-left:0;
}

#subject{
    flex-basis: auto;
    flex-shrink: 0;
}

h6{
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: normal;
    font-weight: 700;
}

.align{
    margin-block-end: 0;
    margin-block-start: 0;
}

.bottom-row{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: dimgray;
}

.tools{
    
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}

.tool-container{
    padding: 0.5em;
    background-color: white;
    margin: 0.5em;
    width: 2.3cm;
    height: 0.3cm;
    font-size: 60%;
    color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.tool-container p{
    align-self: center;
}

.cover-description{
    width: 100%;
    height: 100%;

}

.cover-img{
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;

}


.portfolio-title-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer-bar{
    width: 100%;
    height: 10%;
    background: dimgray;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to top, whitesmoke, dimgray);   */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to top, whitesmoke, dimgray);  */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-bar p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    
}
.pandoc-link{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    padding-left:0.3em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.made-with{
    margin-block-start: 1em;

    display:flex;
    flex-direction: row;
}
.repository{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    padding-left:0.3em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hosted{
    display:flex;
    flex-direction: row;
    margin-block-end: 1em;
}
.portfolio-title-container h1{
    font: 400 60px/0.8 'Cookie', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.315);
}

.portfolio-title-container h3, h2{
    font-weight: 300;
    padding-block-end: 0;
    padding-block-start: 0.5em;
    margin-block-end: 0;
    margin-block-start: 0;
}
.portfolio-title{
    flex-grow: 1;
    align-self: center;
    flex-shrink: 1;
}

.ending-description{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.ending-img{
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.visit{
    display: flex;
    flex-direction: row;
}

.website{
    margin-left: 0.3em;
    align-self: center;
    color: steelblue;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: 0.5s;
    padding-right:0.1em;
    padding-left: 0.1em;
}

.contact{
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    color:steelblue;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: 0.5s;
    padding-right:0.1em;
    padding-left: 0.1em;
}
.social{
    margin-block-start: 80px;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 90px;
    justify-content: center;
}
.social-contact{
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    font-size: 70%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 300%;
}

.author-github{
    display: flex;
    flex-direction: column;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.452);

}

.author-linkdin{
    display: flex;
    flex-direction: column;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.452);

}

.author-instagram{
    display: flex;
    flex-direction: column;
    text-shadow: 6px 6px rgba(0, 0, 0, 0.452);

}

.author-instagram a{
    color: white;
    text-decoration: none;
}

.author-github a{
    color: white;
    text-decoration: none;
}

.author-linkdin a{
    color: white;
    text-decoration: none;
}


.project-detail{
    padding-left: 15px;
    width: 100px;
    height: 30px;
    color: dimgray;
    line-height: 22px;
}

.author-logo{
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#ending-logo{
    width: 150px;
    height: 150px;
}
#details{
    width: auto;
    height: 100%;
    padding-right: 1.5em;
    padding-left: 1.5em;
    color: white;
}

.keywords{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items:center;
}

.keyword-container{
    display: flex;
    background-color: steelblue;
    width: 4.5cm;
    height: 1cm;
    margin-left: 1.5em;
    margin-right: 1.5em;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.keywords p{
    flex-grow: 1;
    align-self: center;
    flex-shrink: 1;
    padding-left: 1em;
    padding-right: 1em;
    padding-block-end: 1em;
    padding-block-start: 1em;
    font-size: 80%;
    color: white;
}


