body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: lightgray;

}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A3"] {
    width: 29.7cm;
    height: 42cm;

}

page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;
}

@media print {
    page {   
    width: 29.7cm;
    height: 42cm;
    margin: 0;
    box-shadow: 0;
    }
}
.row-layout{
    display: flex;
    flex-direction: column;
    width: 42cm;
    height: 29.7cm;
    background-color: white;
}
.white-row{
    width: 100%;
    height: 5%;
    display: flex;
    background-color:white;

}

.empty-row{
    width: 100%;
    height: 5%;
    display: flex;
}
.row-one{
    width: 100%;
    height: 40%;
    background-color: red;
    display: flex;
    flex-direction: row;
}
.index{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.big-images{
    width: 100%;
    height: 100%;
    background: gainsboro;
    display: flex;
    flex-direction: row;
}

.big-image{
    height: 100%;
    width: 100%;
    margin: auto;    
    background-position: center; 
    background-size: cover;
    position: relative;
    
}

.photo-credits{
    background: rgba(255, 255, 255, 0.5);
    -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
    width: max-content;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
}

.photo-credits p{
    margin-block-end: 0;
    margin-block-start: 0;
    padding-left: 0.5cm;
    padding-block-end: 0.2em;
    padding-block-start: 0.2em;
    font-size: 0.6em;
    padding-right: 0.5cm;
}
.photo-credits a{
    text-decoration: unset;
    font-weight: bold;
    color:black;
}

.column-right{
    width:30%;
    height: 100%;
    background-color: steelblue;
    position: relative;
}
.portfolio-index{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.portfolio-index .index-item{
    display: flex;
    flex: 1;
    align-items: center;
}
.portfolio-index p{
    z-index: 10;
    padding-left: 1.5em;
    font-weight: bold;
    font-size: 120$;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: whitesmoke;
    opacity: 0.5;
}

.column-left{
    width:70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
#header-gray-bar{
    background-color: dimgray;
}
.gray-bar{
    height: 100%;
    width: 50px;
    background-color: dimgray;
    flex-basis: auto;
    flex-shrink: 0;
}
.colored-bar{
    height: 100%;
    width:30px;
    background-color: steelblue;
    flex-basis: auto;
    flex-shrink: 0;
}

#clipped{
    position: absolute;
    left:50px;   
    height: 160%;   
    bottom: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0% 100%, 0 0, 50% 10px);
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0% 100%, 0 0, 50% 10px);
}

.row-two{
    background-color: whitesmoke;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    color: dimgray;
}

.row-two p{
    padding-left: 30px;
    padding-right: 30px;

    
}
.row-two .column-left{
    text-align: justify;
    word-break: break-all;
}
.project-category{
    margin-block-end: 0;
    margin-block-start: 0;
    padding-left: 15px;
    width: 80px;
    height: 30px;
}
.no-border:not(:last-child){    
    border-bottom: 0.5px dashed whitesmoke;
}
.project-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: steelblue;
    margin:auto;
    padding: auto;
    
}
.row-two h1{
    padding-left: 40px;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}
.row-two h2, h3{
    padding-left: 40px;
    padding-right: 40px;
    margin-block-end: 0em;
    margin-block-start: 0em;
}
.row-three{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    margin-right: 4em;
}
.small-images{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.small-image{
    height: 100%;
    width: 100%;
    margin: auto;    
    background-position: bottom; 
    background-size: cover;
}
.top-row{
    height: 50%;
    background-color: white;
    padding-top: 1em;
    padding-left: auto;
    padding-right: 35px;
    padding-left: 25px;    
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: center;    
}
.top-row p{
    margin-block-end: 0;
    margin-block-start: 0;
    color:dimgray;
}
.project-author{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;  
    border-left: 1px solid lightgray;
    
}
.project-icon{
    width: 150px;
    height: 150px;
    background-image: url(chebyshev/projecticon.svg);
    
}
.no-border{
    border:0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0em;
}
#author{
    flex-basis: auto;
    flex-shrink: 0;
}
#firm{
    color: white;
    flex-basis: auto;
    flex-shrink: 0;
    border-left: 0;
    padding-left: 0;
}
#category{
    color: white;
    flex-basis: auto;
    flex-shrink: 0;    
     border-left: 0;
     padding-left: 0;

}
#supervisor{
    color: white;
    flex-basis: auto;
    flex-shrink: 0;
     border-left: 0;
     padding-left:0;
}
#subject{
    flex-basis: auto;
    flex-shrink: 0;
}
h6{
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: normal;
    font-weight: 700;
}
.align{
    
    margin-block-end: 0;
    margin-block-start: 0;
}
.bottom-row{
    height: 50%;
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-detail{
    padding-left: 15px;
    width: 80px;
    height: 30px;
    color: dimgray;
    line-height: 20.5px;
}
#details{
    width: auto;
    height: 100%;
    padding-right: 1.5em;
    padding-left: 1.5em;
    color: white;
}
.keywords{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items:center;
}


.keywords p{
    font-size: 80%;  
    min-height:1cm; 
    width: 2.2cm;
    color: whitesmoke;
    background-color: dimgray;
    border-radius: 5px;
    margin-block-start: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-block-end: auto;
}



